<div class="menu">
	<input id="bgFileUpload" type="file"/>
	<input id="overlayFileUpload" type="file"/>
	<a href="/" class="menuButtonWrap logoWrap">
		<div class="logo">
			mock
			<div class="logo-arrow">
				<i class="fa fa-long-arrow-up"></i>
			</div>
		</div>
	</a>
	<div class="menuButtonWrap">
		<div id="bgFileButton" class="menuButton active">
			<div class="verticalfixer"></div><i class="fa fa-picture-o"></i>
		</div>
	</div>
	<div class="menuButtonWrap">
		<div id="overlayFileButton" class="menuButton disabled disableClick">
			<div class="verticalfixer"></div><i class="fa fa-mobile"></i>
			<i class="fa fa-arrow-right arrow" id="pointer"></i>
		</div>
	</div>
	<div class="menuButtonWrap">
		<a id="downloadButton" class="menuButton disabled"  href="" download="mockUp.png" target="_blank">
			<div class="verticalfixer"></div><i class="fa fa-download"></i>
		</a>
	</div>
	<div class="menuButtonWrap" style="display:none">
		<div id="helpButton"  class="menuButton">
			<div class="verticalfixer"></div><i class="fa fa-question"></i>
		</div>
	</div>
</div>
<div class="content">
	<canvas id="canv"></canvas>
	<div class="verticalfixer"></div>
	<img id="blur"/>
	<img id="bg"/>
	<img id="overlay" style="display:none;"/>
</div>