<div class="menu">
	<input id="bgFileUpload" type="file"/>
	<input id="overlayFileUpload" type="file"/>
	<div class="menuButtonWrap">
		<div id="bgFileButton" class="menuButton">
			<div class="verticalfixer"></div>
			Background
		</div>
	</div>
	<div class="menuButtonWrap">
		<div id="overlayFileButton" class="menuButton">
			<div class="verticalfixer"></div>
			Screen
		</div>
	</div>
	<div class="menuButtonWrap">
		<div id="downloadButton" class="menuButton">
			<div class="verticalfixer"></div>
			Download
		</div>
	</div>
</div>
<div class="content">
	<canvas id="canv" style="z-index:1;position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;"></canvas>
	<div id="container1" style="z-index:3;width: 100%; height: 100%; background: trabsoarebt;"></div>
	<img id="bg" style="display:none;"/>
	<img id="overlay" style="display:none;"/>
</div>